<footer>
    <div class="container mx-auto">
        <div class="row d-flex align-items-start pt-5">
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mx-auto p-2">
                <h2>About</h2>
                <p>We Have A Proper Passion For Cooking. Love Is The Secret Ingredient That Makes All Our Meals Taste
                    Better And Magical.</p>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mx-auto p-2">
                <img src="./assets/images/home-page/logo.png" class="footer-logo mx-auto" alt="logo-img">
                <p class="pt-2"> &#169; 2022 Wasfat. All Rights Reserved.</p>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mx-auto p-2">
                <h2>Contacts</h2>
                <a routerLink="/contact-us">wasfat.info@gmail.com</a>
                <ul>
                    <li>
                        <a href="#"><i class='bx bxl-facebook-circle'></i></a>
                    </li>
                    <li>
                        <a href="#"><i class='bx bxl-instagram-alt'></i></a>
                    </li>
                    <li>
                        <a href="#"><i class='bx bxl-twitter'></i></a>
                    </li>
                    <li>
                        <a href="#"><i class='bx bxl-linkedin-square'></i></a>
                    </li>
                    <li>
                        <a href="#"><i class='bx bxl-snapchat'></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>