<section class="not-found">
    <div class="container mx-auto">
        <div class="content">
            <h2>4</h2>
            <img src="./assets/images/home-page/img1.png" height="180px" alt="home-img">
            <h2>4</h2>
        </div>
        <h3>Page not found</h3>
        <p>the page you are looking for is missing</p>
        <a href="">
            go back
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" style="fill: #F7BA56;">
                <path d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z"></path>
            </svg>
        </a>
    </div>
</section>