<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" (click)="shareWith()" style="fill: #666">
    <path
        d="M11 7.05V4a1 1 0 0 0-1-1 1 1 0 0 0-.7.29l-7 7a1 1 0 0 0 0 1.42l7 7A1 1 0 0 0 11 18v-3.1h.85a10.89 10.89 0 0 1 8.36 3.72 1 1 0 0 0 1.11.35A1 1 0 0 0 22 18c0-9.12-8.08-10.68-11-10.95zm.85 5.83a14.74 14.74 0 0 0-2 .13A1 1 0 0 0 9 14v1.59L4.42 11 9 6.41V8a1 1 0 0 0 1 1c.91 0 8.11.2 9.67 6.43a13.07 13.07 0 0 0-7.82-2.55z">
    </path>
</svg>

<div class="msg-box share-msg-box" *ngIf="shareButton">
    <div class="user-list">
        <div class="top-info d-flex justify-content-between align-items-center">
            <span class="share-with">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" style="fill: #fff">
                    <path
                        d="M11 7.05V4a1 1 0 0 0-1-1 1 1 0 0 0-.7.29l-7 7a1 1 0 0 0 0 1.42l7 7A1 1 0 0 0 11 18v-3.1h.85a10.89 10.89 0 0 1 8.36 3.72 1 1 0 0 0 1.11.35A1 1 0 0 0 22 18c0-9.12-8.08-10.68-11-10.95zm.85 5.83a14.74 14.74 0 0 0-2 .13A1 1 0 0 0 9 14v1.59L4.42 11 9 6.41V8a1 1 0 0 0 1 1c.91 0 8.11.2 9.67 6.43a13.07 13.07 0 0 0-7.82-2.55z">
                    </path>
                </svg>
                share with:
            </span>
            <svg xmlns="http://www.w3.org/2000/svg" class="closeShareBox" width="24" height="24"
                (click)="closeShareBox()" style="fill: #DA0037;">
                <path
                    d="m16.192 6.344-4.243 4.242-4.242-4.242-1.414 1.414L10.535 12l-4.242 4.242 1.414 1.414 4.242-4.242 4.243 4.242 1.414-1.414L13.364 12l4.242-4.242z">
                </path>
            </svg>
        </div>
        <h2>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" style="fill: rgba(0, 0, 0, 1);">
                <path
                    d="M4 7h11v2H4zm0 4h11v2H4zm0 4h7v2H4zm15.299-2.708-4.3 4.291-1.292-1.291-1.414 1.415 2.706 2.704 5.712-5.703z">
                </path>
            </svg>
            all users:
        </h2>
        <input #searchValue (keyup)="search(searchValue.value)" class="input-search" type="text"
            placeholder="Search ...">
        <ul>
            <app-user-share-box *ngFor="let user of filteredUsers" [user]="user" [data]="data" [type]="type">
            </app-user-share-box>
        </ul>
    </div>
</div>